<template>
  <div class="food-selector">
    <label for="food-select">select food</label>
    <select id="food-select" @change="onSelect" v-model="selected">
      <option disabled value="">Please select one</option>
      <option v-for="food in foods" v-bind:value="food" :key="food.id">
        {{food.name}}
      </option>
    </select>
  </div>
</template>

<script>
  import VueTypes from 'vue-types';

  export default {
    name: 'FoodSelector',
    props: {
      foods: VueTypes.arrayOf(VueTypes.shape({
        id: VueTypes.integer.isRequired,
        name: VueTypes.string.isRequired,
        nutrition: VueTypes.shape({
          energy: VueTypes.number.isRequired,
          protein: VueTypes.number.isRequired,
          lipid: VueTypes.number.isRequired,
          carbohydrate: VueTypes.number.isRequired,
          sodium: VueTypes.number.isRequired,
        }).isRequired,
      })).isRequired,
    },
    data() {
      return {
        selected: {},
      };
    },
    methods: {
      onSelect() {
        this.$emit('select', this.selected);
      },
    },
  };
</script>

<style scoped>
  .food-selector {
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
  }

  select {
    flex: 1 1;
    width: 170px;
  }

</style>
