<template>
  <div>
    <label for="food-list">all foods</label>
    <select id="food-list" v-model="selected" multiple
            @change="onChange">
      <option v-for="f in foods" v-bind:key="f.id"
              v-bind:value="f">
        {{f.name}}
      </option>
    </select>
  </div>
</template>

<script>
  import VueTypes from 'vue-types';

  export default {
    name: 'FoodList',
    props: {
      foods: VueTypes.arrayOf(VueTypes.shape({
        id: VueTypes.integer.isRequired,
        name: VueTypes.string.isRequired,
        energy: VueTypes.number.isRequired,
        protein: VueTypes.number.isRequired,
        lipid: VueTypes.number.isRequired,
        carbohydrate: VueTypes.number.isRequired,
        sodium: VueTypes.number.isRequired,
      })).isRequired,
    },
    data() {
      return {
        selected: [],
      };
    },
    methods: {
      onChange() {
        this.$emit('selected', this.selected);
      },
    },
  };
</script>

<style scoped>
  label {
    display: block;
  }
</style>
