<template>
  <div>
    <LineChart :data="ChartData" :options="options"></LineChart>
  </div>
</template>

<script>
  import VueTypes from 'vue-types';
  import LineChart from './LineChart';

  export default {
    name: 'nutrition',
    components: {LineChart},
    props: {
      filter: VueTypes.arrayOf(VueTypes.integer).isRequired,
      reports: VueTypes.arrayOf(VueTypes.shape({
        energy: VueTypes.number.isRequired,
        protein: VueTypes.number.isRequired,
        lipid: VueTypes.number.isRequired,
        carbohydrate: VueTypes.number.isRequired,
        sodium: VueTypes.number.isRequired,
        date: VueTypes.string.isRequired,
      })).isRequired,
      standard: {
        energy: VueTypes.number.isRequired,
        protein: VueTypes.number.isRequired,
        lipid: VueTypes.number.isRequired,
        carbohydrate: VueTypes.number.isRequired,
        sodium: VueTypes.number.isRequired,
      },
    },
    data() {
      return {
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  suggestedMax: 100,
                  beginAtZero: true,
                  callback: function(value) {
                    return value + '%';
                  },
                },
              }],
          },
          maintainAspectRatio: false,
        },
      };
    },
    computed: {
      ChartData() {
        const names = ['energy', 'protein', 'lipid', 'carbohydrate', 'sodium'];
        const colors = ['#cc241d', '#98971a', '#d79921', '#458588', '#b16286'];

        let labels = [];
        let c_idx = Array(names.length);
        let cnt = 0;

        let datasets = [];
        names.forEach((name, idx) => {
              if (this.filter[idx] === 1) {
                datasets.push({
                  label: name,
                  backgroundColor: colors[idx],
                  borderColor: colors[idx],
                  fill: false,
                  data: [],
                });
                c_idx[idx] = cnt++;
              }
            },
        );

        for (let t of this.reports) {
          labels.push(t.date);
          names.forEach((name, idx) => {
            if (this.filter[idx] === 1) {
              datasets[c_idx[idx]].data.push(
                  Math.round(t[name] / this.standard[name] * 1000) / 10);
            }
          });
        }

        return {
          labels: labels,
          datasets: datasets,
        };
      },
    },
  }
  ;
</script>

<style scoped>

</style>
