<template>
  <div class="recommend-list">
    <p>click to select</p>
    <select v-model="test" multiple size="10">
      <option v-for="r in recList" :key="r.id" :value="r.id">
        {{r.name}}
      </option>
    </select>
    <transition-group tag="ul">
      <template v-for="r in recList">
        <li :key="r.id" @click="$emit('click', r.id)">
          <span>{{r.name}}</span>
        </li>
      </template>
    </transition-group>
  </div>
</template>

<script>
  import VueTypes from 'vue-types';

  export default {
    name: 'RecommendList',
    props: {
      recList: VueTypes.arrayOf(VueTypes.shape({
        id: VueTypes.number.isRequired,
        name: VueTypes.string.isRequired,
        energy: VueTypes.number.isRequired,
        protein: VueTypes.number.isRequired,
        lipid: VueTypes.number.isRequired,
        carbohydrate: VueTypes.number.isRequired,
        sodium: VueTypes.number.isRequired,
      })),
    },
    data() {
      return {
        selected: [],
        test: [],
      };
    },
    methods: {
      onChange() {
        this.$emit('selected', this.selected);
      },
    },
  };
</script>

<style scoped>
  label {
    display: block;
  }
</style>
