<template>
  <div>
    <BarChart :data="ChartData" :options="options"></BarChart>
  </div>
</template>

<script>
  import VueTypes from 'vue-types';
  import BarChart from './BarChart';

  export default {
    name: 'Report',
    components: {BarChart},
    props: {
      reports: VueTypes.arrayOf(VueTypes.shape({
        name: VueTypes.string.isRequired,
        energy: VueTypes.number.isRequired,
        protein: VueTypes.number.isRequired,
        lipid: VueTypes.number.isRequired,
        carbohydrate: VueTypes.number.isRequired,
        sodium: VueTypes.number.isRequired,
      })).isRequired,
      extra: VueTypes.arrayOf(VueTypes.shape({
        id: VueTypes.number.isRequired,
        name: VueTypes.string.isRequired,
        energy: VueTypes.number.isRequired,
        protein: VueTypes.number.isRequired,
        lipid: VueTypes.number.isRequired,
        carbohydrate: VueTypes.number.isRequired,
        sodium: VueTypes.number.isRequired,
      })).isRequired,
      standard: {
        energy: VueTypes.number.isRequired,
        protein: VueTypes.number.isRequired,
        lipid: VueTypes.number.isRequired,
        carbohydrate: VueTypes.number.isRequired,
        sodium: VueTypes.number.isRequired,
      },
    },
    data() {
      return {
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  suggestedMax: 100,
                  beginAtZero: true,
                  callback: function(value) {
                    return value + '%';
                  },
                },
                stacked: true,
              }],
            xAxes: [
              {stacked: true},
            ],
          },
          maintainAspectRatio: false,
        },
      };
    },
    computed: {
      ChartData() {
        let datasets = [];
        for (let t of this.reports) {
          if (t.name === undefined) {
            t.name = datasets.length + 1;
          }
          datasets.push({
            label: t.name,
            backgroundColor: this.getRandomColor(),
            data: this.calcReport(t),
          });
        }

        for (let t of this.extra) {
          datasets.push({
            label: t.name,
            backgroundColor: this.getRandomColor(),
            data: this.calcReport(t),
          });
        }
        return {
          labels: ['energy', 'protein', 'lipid', 'carbohydrate', 'sodium'],
          datasets: datasets,
        };
      },
    },
    methods: {
      getRandomColor() {
        let r = Math.floor(Math.random() * 255);
        let g = Math.floor(Math.random() * 255);
        let b = Math.floor(Math.random() * 255);
        return `rgb(${r},${g},${b})`;
      },

      calcPercentage(raw, std) {
        return Math.round(raw / std * 100 * 10) / 10;
      },

      calcReport(raw) {
        let e = this.calcPercentage(raw.energy, this.standard.energy);
        let p = this.calcPercentage(raw.protein, this.standard.protein);
        let l = this.calcPercentage(raw.lipid, this.standard.lipid);
        let c = this.calcPercentage(raw.carbohydrate,
            this.standard.carbohydrate);
        let s = this.calcPercentage(raw.sodium, this.standard.sodium);
        return [e, p, l, c, s];
      },
    },
  };
</script>

<style scoped>

</style>
