<template>
  <div>
    <h1>This is a food data page</h1>
    <FoodEntry @submit="onSubmit"></FoodEntry>
    <p>{{form}}</p>

    <FoodList :foods="foods"></FoodList>
  </div>
</template>

<script>
  import axios from 'axios';
  import FoodEntry from '../components/FoodEntry';
  import FoodList from '../components/FoodList';

  export default {
    name: 'Food',
    components: {FoodList, FoodEntry},
    props: {
      base_url: String,
    },
    data() {
      return {
        form: {},
        foods: [],
      };
    },
    methods: {
      onSubmit(form) {
        this.form = form;
        axios.post(this.base_url, form);
      },
    },
    mounted() {
      axios.get(this.base_url).
          then(res => {
            res.data.forEach(r => {
              let n = r['nutrition'];
              this.foods.push({
                id: r['id'],
                name: r['name'],
                nutrition: {
                  energy: n['energy'],
                  protein: n['protein'],
                  lipid: n['lipid'],
                  carbohydrate: n['carbohydrate'],
                  sodium: n['sodium'],
                },
              });
            });
          });
    },
  };
</script>

<style scoped>

</style>
