<template>
  <div class="recommend">
    <h1>This is a recommend page</h1>

    <label for="budget">budget</label>
    <input id="budget" type="number" v-model="budget">
    <button v-on:click="getRecommend">click</button>

    <Report :reports="reports" :standard="standard"
            :extra="recommended"></Report>
  </div>
</template>

<script>
  import axios from 'axios';
  import Report from '../components/Report';

  export default {
    name: 'Recommend',
    components: {Report},
    props: {
      recommend_url: String,
      report_url: String,
      standard_url: String,
    },
    data() {
      return {
        reports: [],
        standard: {},
        recommended: [],
        selected: [],
        rep_sum: {
          energy: 0,
          protein: 0,
          lipid: 0,
          carbohydrate: 0,
          sodium: 0,
        },
        budget: 0,
      };
    },
    mounted() {
      let date = this.dateToString(new Date());

      axios.get(this.report_url + '/' + date).
          then(res => {
            res.data.forEach(r => {
              let n = r['nutrition'];

              this.rep_sum['energy'] += n['energy'];
              this.rep_sum['protein'] += n['protein'];
              this.rep_sum['lipid'] += n['lipid'];
              this.rep_sum['carbohydrate'] += n['carbohydrate'];
              this.rep_sum['sodium'] += n['sodium'];

              this.reports.push({
                name: r['name'],
                energy: n['energy'],
                protein: n['protein'],
                lipid: n['lipid'],
                carbohydrate: n['carbohydrate'],
                sodium: n['sodium'],
              });
            });
            this.getRecommend();
          });

      axios.get(this.standard_url).
          then(res => {
            this.standard = res.data;
          });
    },
    methods: {
      dateToString(date) {
        let year = date.getFullYear();
        let month = ('0' + (date.getMonth() + 1)).slice(-2);
        let day = ('0' + date.getDate()).slice(-2);
        return (year + month + day);
      },

      getRecommend() {
        axios.get(this.recommend_url + '/new', {
          params: {
            budget: this.budget,
            energy: this.rep_sum['energy'],
            protein: this.rep_sum['protein'],
            lipid: this.rep_sum['lipid'],
            carbohydrate: this.rep_sum['carbohydrate'],
            sodium: this.rep_sum['sodium'],
          },
        }).then(res => {
          let rec = [];
          res.data.forEach(r => {
            let n = r['nutrition'];
            rec.push({
              id: r['id'],
              name: r['name'],
              energy: n['energy'],
              protein: n['protein'],
              lipid: n['lipid'],
              carbohydrate: n['carbohydrate'],
              sodium: n['sodium'],
            });
          });
          this.recommended = rec;
        });
      },
    },
  };
</script>
