<template>
  <div class="stats">
    <h1>This is a stats page</h1>
    <div class="radio-wrapper">
      <button class="btn-energy" v-on:click="toggleNutrition(0)">
        energy
      </button>
      <button class="btn-protein" v-on:click="toggleNutrition(1)">
        protein
      </button>
      <button class="btn-lipid" v-on:click="toggleNutrition(2)">
        lipid
      </button>
      <button class="btn-carbohydrate" v-on:click="toggleNutrition(3)">
        carbohydrate
      </button>
      <button class="btn-sodium" v-on:click="toggleNutrition(4)">
        sodium
      </button>
    </div>

    <Nutrition :filter="filter" :reports="reports"
               :standard="standard"></Nutrition>
  </div>
</template>

<script>
  import axios from 'axios';
  import Nutrition from '../components/Nutrition';

  export default {
    name: 'Stats',
    components: {Nutrition},
    props: {
      report_url: String,
      standard_url: String,
    },
    data() {
      return {
        reports: [],
        standard: {},
        filter: [1, 0, 0, 0, 0],
      };
    },
    mounted() {
      axios.get(this.report_url).
          then(r => {
            r.data.forEach(r => {
              let n = r['nutrition'];

              this.reports.push({
                energy: n['energy'],
                protein: n['protein'],
                lipid: n['lipid'],
                carbohydrate: n['carbohydrate'],
                sodium: n['sodium'],
                date: r['date'],
              });
            });
          });

      axios.get(this.standard_url).then(r => this.standard = r.data);
    },
    methods: {
      toggleNutrition(idx) {
        this.$set(this.filter, idx, 1 - this.filter[idx]);
      },
    },
  };
</script>

<style scoped>
  .btn-energy {
    background: var(--red);
  }

  .btn-protein {
    background: var(--green);
  }

  .btn-lipid {
    background: var(--yellow);
  }

  .btn-carbohydrate {
    background: var(--blue);
  }

  .btn-sodium {
    background: var(--purple);
  }
</style>
