<template>
  <div class="today">
    <h1>This is a today page</h1>

    <RecommendList :rec-list="recommended" @click="onCheck"></RecommendList>

    <Report :reports="reports" :standard="standard" :extra="selected"></Report>
  </div>
</template>

<script>
  import axios from 'axios';
  import RecommendList from '../components/RecommendList';
  import Report from '../components/Report';

  export default {
    name: 'Today',
    components: {RecommendList, Report},
    props: {
      recommend_url: String,
      report_url: String,
      standard_url: String,
    },
    data() {
      return {
        reports: [],
        standard: {},
        recommended: [],
        selected: [],
        rep_sum: {
          energy: 0,
          protein: 0,
          lipid: 0,
          carbohydrate: 0,
          sodium: 0,
        },
      };
    },
    mounted() {
      let date = this.dateToString(new Date());

      axios.get(this.report_url + '/' + date).
          then(res => {
            res.data.forEach(r => {
              let n = r['nutrition'];

              this.rep_sum['energy'] += n['energy'];
              this.rep_sum['protein'] += n['protein'];
              this.rep_sum['lipid'] += n['lipid'];
              this.rep_sum['carbohydrate'] += n['carbohydrate'];
              this.rep_sum['sodium'] += n['sodium'];

              this.reports.push({
                name: r['name'],
                energy: n['energy'],
                protein: n['protein'],
                lipid: n['lipid'],
                carbohydrate: n['carbohydrate'],
                sodium: n['sodium'],
              });
            });
            this.getRecommend();
          });

      axios.get(this.standard_url).
          then(res => {
            this.standard = res.data;
          });
    },
    methods: {
      dateToString(date) {
        let year = date.getFullYear();
        let month = ('0' + (date.getMonth() + 1)).slice(-2);
        let day = ('0' + date.getDate()).slice(-2);
        return (year + month + day);
      },

      calcSelected() {
        let sum = {
          energy: 0,
          protein: 0,
          lipid: 0,
          carbohydrate: 0,
          sodium: 0,
        };
        this.selected.forEach(n => {
          sum['energy'] += n.energy;
          sum['protein'] += n.protein;
          sum['lipid'] += n.lipid;
          sum['carbohydrate'] += n.carbohydrate;
          sum['sodium'] += n.sodium;
        });
        return sum;
      },

      getRecommend(extra = {
        energy: 0,
        protein: 0,
        lipid: 0,
        carbohydrate: 0,
        sodium: 0,
      }) {
        axios.get(this.recommend_url, {
          params: {
            energy: this.rep_sum['energy'] + extra['energy'],
            protein: this.rep_sum['protein'] + extra['protein'],
            lipid: this.rep_sum['lipid'] + extra['lipid'],
            carbohydrate: this.rep_sum['carbohydrate'] + extra['carbohydrate'],
            sodium: this.rep_sum['sodium'] + extra['sodium'],
          },
        }).then(res => {
          let rec = [];
          res.data.forEach(r => {
            let n = r['nutrition'];
            rec.push({
              id: r['id'],
              name: r['name'],
              energy: n['energy'],
              protein: n['protein'],
              lipid: n['lipid'],
              carbohydrate: n['carbohydrate'],
              sodium: n['sodium'],
            });
          });
          this.recommended = rec;
        });
      },

      onCheck(id) {
        const l = this.selected.findIndex(key => key.id === id);

        if (l === -1) {
          this.selected.push(
              this.recommended.find(key => key.id === id));
        } else {
          this.selected.splice(l, 1);
        }

        this.test(this.calcSelected());
      },
      test(extra) {
        axios.get(this.recommend_url, {
          params: {
            energy: this.rep_sum['energy'] + extra['energy'],
            protein: this.rep_sum['protein'] + extra['protein'],
            lipid: this.rep_sum['lipid'] + extra['lipid'],
            carbohydrate: this.rep_sum['carbohydrate'] + extra['carbohydrate'],
            sodium: this.rep_sum['sodium'] + extra['sodium'],
          },
        }).then(res => {
          let rec = [];
          res.data.forEach(r => {
            let n = r['nutrition'];
            rec.push({
              id: r['id'],
              name: r['name'],
              energy: n['energy'],
              protein: n['protein'],
              lipid: n['lipid'],
              carbohydrate: n['carbohydrate'],
              sodium: n['sodium'],
            });
          });
          this.recommended = rec;
        });
      },
    },
  };
</script>
